/* ********************
   * UNIVERSAL STYLES *
   ******************** */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  margin: 0px;
  border: 1px solid rgb(184, 185, 187)
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
}

.section-left {
  display: inline-block;
/*  width: calc(60% - 3rem); */
  width: 60%;
  height: auto;
/*  margin: 2rem 0.75rem 2rem 1.5rem; */
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.section-left img {
  width: 100%;
  height: auto;
}

.section-right {
  width: 40%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ******************
   * BANNER SECTION *
   ****************** */

header {
  width: 100%;
  height: auto;
  display: inline-block;
}

#banner {
  width: 100%;
  height: 4rem;
  background-color: white;
  margin: 1px;
  display: inline-flex;
  justify-content: space-between;
}

#banner-title {
  height: 2rem;
  margin: 1rem 0 1rem 1.5rem;
}

#banner-title img {
  display: inline-block;
  width: auto;
  height: 2rem;
  vertical-align: middle;
  margin: 0;
}

#banner-title span {
  font-size: 1rem;
  padding-top: 0.5rem;
}

#banner-title span.colmar {
  color: rgb(74, 74, 74);
  font-weight: bold;
}

#banner-title span.academy {
  color: rgb(155, 155, 155);
  font-weight: normal;
}

#nav-list {
  margin: 0 1.5rem 0 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#nav-list span {
  padding-left: 1rem;
}

#nav-list a {
  color: rgb(74, 74, 74);
  font-size: 1rem;
  text-decoration: none;
}

#nav-icons {
  display: none;
}

/* *****************
   * LEARN SECTION *
   ***************** */

#learn {
  background-color: rgb(216, 216, 216);
}

#learn .section-right {
  justify-content: center;
}

h1 {
  width: 75%;
  color: rgb(74, 74, 74);
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  margin: 0.75rem;
}

h3 {
  width: 75%;
  color: rgb(74, 74, 74);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  margin: 0.75rem;
}

h4 {
  width: 75%;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 0;
  margin: 0.75rem;
  line-height: 1.4;
  text-align: center;
  background-color: rgb(74, 74, 74);
}

/* ****************
   * INFO SECTION *
   **************** */

#info {
  background-color: white;
}

#info .section-right {
  justify-content: space-between;
}

#orientation {
  margin-top: 1rem;
}

h2 {
  width: 95%;
  color: rgb(74, 74, 74);
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin: 2rem 0 1.5rem 0;
}

p {
  width: 95%;
  height: auto;
  color: rgb(110, 110, 110);
  font-size: 0.875rem;
  font-weight: 100;
  text-align: left;
  line-height: 1.4;
  margin: 0;
}

.source {
  color: rgb(62, 62, 62);
  font-size: 0.75rem;
  font-weight: normal;
  text-align: left;
  margin: 2rem 0 0 0;
}

.info-item {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
}

.info-item-image {
  display: inline-block;
/*   width: calc(35% - 1rem); */
  width: 35%;
/*  margin: 1rem; */
  padding: 1rem;
}

.info-item-image img {
  width: 100%;
  height: auto;
}

.info-item-text {
  display: inline-block;
  width: 65%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-item h3 {
  margin: 0.25rem 0;
}

.info-item p {
  margin: 0.25rem 0;
  color: rgb(110, 110, 110);
}

.info-item a {
  color: rgb(57, 133, 224);
  text-decoration: none;
}

#guest-lecture {
  margin-bottom: 2rem;
  background-color: rgb(216, 216, 216);
}

/* *******************
   * COURSES SECTION *
   ******************* */

#courses {
  background-color: rgb(234, 235, 236);
  padding: 2rem 3.5rem 1rem 3.5rem;
}

#courses h2 {
  width: 100%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.courses-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  max-width: 29%;
  height: auto;
  margin: 1rem;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
  margin: 0;
}

.course h3 {
  width: 100%;
  margin: 1rem 0.5rem 0.5rem 1rem;
  text-align: left;
}

.course h5 {
  width: 100%;
  height: auto;
  color: rgb(74, 74, 74);
  font-size: 0.875rem;
  font-weight: 100;
  text-align: left;
  line-height: 1.4;
  margin: 0.5rem 1rem;
}

.course p {
  width: 85%;
  margin: 0 1rem 1.5rem 1rem;
  text-align: left;
  color: rgb(110, 110, 110);
}

/* ******************
   * THESIS SECTION *
   ****************** */
#thesis {
 background-color: white;
}

#thesis h2 {
  width: 100%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

#thesis h3 {
  margin: 0.75rem 0;
}

#thesis p {
  color: rgb(110, 110, 110);
}

#thesis .section-right {
 justify-content: flex-start;
}

#thesis-fisma {
 margin-top: 2rem;
 background-color: rgb(216, 216, 216);
}

.section-left video {
  width: 100%;
  height: auto;
}

.thesis-item {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
}

.thesis-item-image {
  display: inline-block;
/*   width: calc(35% - 1rem); */
  width: 35%;
/*  margin: 1rem; */
  padding: 1rem;
}

.thesis-item-image img {
  width: 100%;
  height: auto;
}

.thesis-item-text {
  display: inline-block;
  width: 65%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-item h3 {
  width: 100%;
  margin: 0.25rem 0;
}

.thesis-item p {
  margin: 0.25rem 0;
  color: rgb(110, 110, 110);
}

/* *********************
   * COPYRIGHT SECTION *
   ********************* */

   footer {
     width: 100%;
     height: auto;
     display: inline-block;
   }

   #copyright {
     width: 100%;
     height: auto;
     background-color: white;
     border-top: 2px solid rgb(232, 234, 234);
     margin: 0;
     display: inline-flex;
     justify-content: space-between;
   }

   #copyright-message {
     height: 2rem;
     margin: 1rem 1.5rem;
   }

   #copyright-message span {
     font-size: 0.75rem;
     padding-top: 0.5rem;
     color: rgb(110, 110, 110);
   }

   #copyright-links {
     margin: 1rem 1.5rem;
     display: inline-flex;
     justify-content: space-between;
     align-items: flex-start;
   }

   #copyright-links span {
     padding-left: 0.75rem;
     color: rgb(110, 110, 110);
   }

   #copyright-links a {
     color: rgb(110, 110, 110);
     font-size: 0.75rem;
     text-decoration: none;
   }
